/* --------------------------------------------------
   Loader específico para ProductList
-------------------------------------------------- */
.pl-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1050px;   /* coincide con el layout principal */
  margin: 0 auto;      /* centra horizontalmente */
  min-height: 70vh;    /* suficiente espacio para centrar */
}

@media (max-width: 900px) {
  .pl-loader-container {
    max-width: 98vw;
    margin: 0 auto;
    min-height: 60vh;
  }
}

/* Icono giratorio */
.pl-loader-icon {
  font-size: 3rem;    /* equivalente a size="3x" */
  color: #B63C56;
  margin-bottom: 0.8rem;
}

/* Texto de carga */
.pl-loader-text {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
