.resumenBox {
  width: 100%;
  background: #fff;
  border-radius: 1.3rem;
  box-shadow: 0 6px 32px #b0355a18, 0 2px 8px #991f4410;
  padding: 1.4rem 1.3rem 1.1rem 1.3rem;
  margin-top: 0;
}
.deliveryBox {
  background: #f8fdfa;
  border-radius: 1.1rem;
  padding: 0.7rem 1.1rem;
  margin-bottom: 1.3rem;
  font-size: 1.06rem;
  color: #181925;
  box-shadow: 0 1px 4px #b0355a09;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
